openapi: 3.1.0
info:
  title: Staples Advantage eProcurement Account Invoices API
  description: The Staples Advantage eProcurement API enables enterprise procurement integration for business customers. Partners can search the Staples product catalog, manage orders, track deliveries, and access account information. Supports integration with over 170 eProcurement platforms including Ariba, Coupa, Jaggaer, and Oracle for streamlined office supply procurement.
  version: '1.0'
  contact:
    name: Staples Business Advantage Support
    url: https://www.staplesadvantage.com/
  termsOfService: https://www.staples.com/sbd/cre/marketing/terms-and-conditions/
servers:
- url: https://api.staplesadvantage.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Invoices
  description: Invoice and billing operations
paths:
  /v1/invoices:
    get:
      operationId: listInvoices
      summary: List Invoices
      description: Returns invoice history for the authenticated account, filterable by date range and payment status.
      tags:
      - Invoices
      parameters:
      - name: status
        in: query
        required: false
        description: Filter by payment status
        schema:
          type: string
          enum:
          - open
          - paid
          - overdue
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
                  total:
                    type: integer
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
  /v1/invoices/{invoiceId}:
    get:
      operationId: getInvoice
      summary: Get Invoice
      description: Returns the full details of a specific invoice including line items, amounts, payment status, and associated order references.
      tags:
      - Invoices
      parameters:
      - name: invoiceId
        in: path
        required: true
        description: The unique identifier of the invoice
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceDetail'
        '401':
          description: Unauthorized
        '404':
          description: Invoice Not Found
        '429':
          description: Too Many Requests
components:
  schemas:
    Invoice:
      type: object
      properties:
        id:
          type: string
        invoiceNumber:
          type: string
        status:
          type: string
          enum:
          - open
          - paid
          - overdue
        amount:
          type: number
          format: float
        dueDate:
          type: string
          format: date
        issuedAt:
          type: string
          format: date
        orderId:
          type: string
    InvoiceDetail:
      allOf:
      - $ref: '#/components/schemas/Invoice'
      - type: object
        properties:
          lineItems:
            type: array
            items:
              type: object
              properties:
                description:
                  type: string
                quantity:
                  type: integer
                unitPrice:
                  type: number
                amount:
                  type: number
                costCenter:
                  type: string
          subtotal:
            type: number
          tax:
            type: number
          total:
            type: number
          paymentDate:
            type: string
            format: date
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Staples Advantage eProcurement Integrations
  url: https://www.staplesadvantage.com/learn/eprocurement-integrations
