openapi: 3.1.0
info:
  title: Staples Advantage eProcurement API
  description: >-
    The Staples Advantage eProcurement API enables enterprise procurement integration for business customers. Partners can search the Staples product catalog, manage orders, track deliveries, and access account information. Supports integration with over 170 eProcurement platforms including Ariba, Coupa, Jaggaer, and Oracle for streamlined office supply procurement.
  version: '1.0'
  contact:
    name: Staples Business Advantage Support
    url: https://www.staplesadvantage.com/
  termsOfService: https://www.staples.com/sbd/cre/marketing/terms-and-conditions/
externalDocs:
  description: Staples Advantage eProcurement Integrations
  url: https://www.staplesadvantage.com/learn/eprocurement-integrations
servers:
  - url: https://api.staplesadvantage.com
    description: Production
tags:
  - name: Catalog
    description: Product catalog search and browse operations
  - name: Orders
    description: Order management operations
  - name: Account
    description: Account and contract management operations
  - name: Delivery
    description: Delivery tracking and scheduling operations
  - name: Invoices
    description: Invoice and billing operations
security:
  - bearerAuth: []
paths:
  /v1/catalog/search:
    get:
      operationId: searchProducts
      summary: Search Products
      description: >-
        Search the Staples Advantage product catalog by keyword, category, or SKU. Returns matching products with pricing, availability, and contract-specific pricing where applicable.
      tags:
        - Catalog
      parameters:
        - name: q
          in: query
          required: true
          description: Search query string
          schema:
            type: string
        - name: category
          in: query
          required: false
          description: Filter by product category
          schema:
            type: string
        - name: brand
          in: query
          required: false
          description: Filter by brand name
          schema:
            type: string
        - name: inStock
          in: query
          required: false
          description: Filter to in-stock items only
          schema:
            type: boolean
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
  /v1/catalog/categories:
    get:
      operationId: listCategories
      summary: List Categories
      description: >-
        Returns the full Staples Advantage product category hierarchy including office supplies, technology, furniture, cleaning, and breakroom categories.
      tags:
        - Catalog
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
  /v1/catalog/products/{sku}:
    get:
      operationId: getProduct
      summary: Get Product
      description: >-
        Returns detailed information for a specific product by SKU, including full description, specifications, pricing, availability, and related products.
      tags:
        - Catalog
      parameters:
        - name: sku
          in: path
          required: true
          description: The product SKU identifier
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetail'
        '401':
          description: Unauthorized
        '404':
          description: Product Not Found
        '429':
          description: Too Many Requests
  /v1/orders:
    get:
      operationId: listOrders
      summary: List Orders
      description: >-
        Returns the order history for the authenticated account, filterable by date range, status, and cost center.
      tags:
        - Orders
      parameters:
        - name: status
          in: query
          required: false
          description: Filter by order status
          schema:
            type: string
            enum:
              - pending
              - confirmed
              - shipped
              - delivered
              - cancelled
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: costCenter
          in: query
          required: false
          description: Filter by cost center code
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  total:
                    type: integer
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
    post:
      operationId: createOrder
      summary: Create Order
      description: >-
        Creates a new purchase order from the Staples Advantage catalog with delivery address and cost center allocation.
      tags:
        - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
  /v1/orders/{orderId}:
    get:
      operationId: getOrder
      summary: Get Order
      description: >-
        Returns the full details and current status of a specific order including line items, tracking information, and delivery status.
      tags:
        - Orders
      parameters:
        - name: orderId
          in: path
          required: true
          description: The unique identifier of the order
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetail'
        '401':
          description: Unauthorized
        '404':
          description: Order Not Found
        '429':
          description: Too Many Requests
  /v1/account:
    get:
      operationId: getAccount
      summary: Get Account
      description: >-
        Returns the Staples Advantage account details including contract information, approved product lists, and spending limits.
      tags:
        - Account
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
  /v1/account/cost-centers:
    get:
      operationId: listCostCenters
      summary: List Cost Centers
      description: >-
        Returns all cost center codes configured for the authenticated account for order allocation and expense tracking.
      tags:
        - Account
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  costCenters:
                    type: array
                    items:
                      $ref: '#/components/schemas/CostCenter'
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
  /v1/delivery/tracking/{trackingNumber}:
    get:
      operationId: trackDelivery
      summary: Track Delivery
      description: >-
        Returns the current delivery status and tracking history for a specific shipment by tracking number.
      tags:
        - Delivery
      parameters:
        - name: trackingNumber
          in: path
          required: true
          description: The carrier tracking number
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryTracking'
        '401':
          description: Unauthorized
        '404':
          description: Tracking Number Not Found
        '429':
          description: Too Many Requests
  /v1/invoices:
    get:
      operationId: listInvoices
      summary: List Invoices
      description: >-
        Returns invoice history for the authenticated account, filterable by date range and payment status.
      tags:
        - Invoices
      parameters:
        - name: status
          in: query
          required: false
          description: Filter by payment status
          schema:
            type: string
            enum:
              - open
              - paid
              - overdue
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
                  total:
                    type: integer
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
  /v1/invoices/{invoiceId}:
    get:
      operationId: getInvoice
      summary: Get Invoice
      description: >-
        Returns the full details of a specific invoice including line items, amounts, payment status, and associated order references.
      tags:
        - Invoices
      parameters:
        - name: invoiceId
          in: path
          required: true
          description: The unique identifier of the invoice
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceDetail'
        '401':
          description: Unauthorized
        '404':
          description: Invoice Not Found
        '429':
          description: Too Many Requests
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Product:
      type: object
      properties:
        sku:
          type: string
        name:
          type: string
        brand:
          type: string
        category:
          type: string
        price:
          type: number
          format: float
        contractPrice:
          type: number
          format: float
          description: Contract-specific price if applicable
        inStock:
          type: boolean
        imageUrl:
          type: string
    ProductDetail:
      allOf:
        - $ref: '#/components/schemas/Product'
        - type: object
          properties:
            description:
              type: string
            specifications:
              type: object
              additionalProperties:
                type: string
            unitOfMeasure:
              type: string
            packSize:
              type: string
            weight:
              type: number
            dimensions:
              type: string
            relatedSkus:
              type: array
              items:
                type: string
    Category:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        parentId:
          type: string
        level:
          type: integer
        productCount:
          type: integer
        subcategories:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
    Order:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
            - pending
            - confirmed
            - shipped
            - delivered
            - cancelled
        purchaseOrderNumber:
          type: string
        itemCount:
          type: integer
        subtotal:
          type: number
          format: float
        total:
          type: number
          format: float
        orderedAt:
          type: string
          format: date-time
        estimatedDelivery:
          type: string
          format: date
    OrderDetail:
      allOf:
        - $ref: '#/components/schemas/Order'
        - type: object
          properties:
            items:
              type: array
              items:
                type: object
                properties:
                  sku:
                    type: string
                  name:
                    type: string
                  quantity:
                    type: integer
                  unitPrice:
                    type: number
                  totalPrice:
                    type: number
                  costCenter:
                    type: string
            deliveryAddress:
              $ref: '#/components/schemas/Address'
            trackingNumbers:
              type: array
              items:
                type: string
    CreateOrderRequest:
      type: object
      required:
        - items
        - deliveryAddress
      properties:
        purchaseOrderNumber:
          type: string
        items:
          type: array
          items:
            type: object
            required:
              - sku
              - quantity
            properties:
              sku:
                type: string
              quantity:
                type: integer
              costCenter:
                type: string
        deliveryAddress:
          $ref: '#/components/schemas/Address'
        deliveryInstructions:
          type: string
        accountId:
          type: string
    Account:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        contractNumber:
          type: string
        contractExpiry:
          type: string
          format: date
        creditLimit:
          type: number
          format: float
        availableCredit:
          type: number
          format: float
        paymentTerms:
          type: string
        primaryContact:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
            phone:
              type: string
    CostCenter:
      type: object
      properties:
        code:
          type: string
        name:
          type: string
        budget:
          type: number
          format: float
        spent:
          type: number
          format: float
        available:
          type: number
          format: float
        active:
          type: boolean
    Address:
      type: object
      properties:
        name:
          type: string
        street:
          type: string
        street2:
          type: string
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        country:
          type: string
          default: US
        phone:
          type: string
    DeliveryTracking:
      type: object
      properties:
        trackingNumber:
          type: string
        carrier:
          type: string
        status:
          type: string
          enum:
            - label_created
            - picked_up
            - in_transit
            - out_for_delivery
            - delivered
            - exception
        estimatedDelivery:
          type: string
          format: date
        events:
          type: array
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
              location:
                type: string
              description:
                type: string
    Invoice:
      type: object
      properties:
        id:
          type: string
        invoiceNumber:
          type: string
        status:
          type: string
          enum:
            - open
            - paid
            - overdue
        amount:
          type: number
          format: float
        dueDate:
          type: string
          format: date
        issuedAt:
          type: string
          format: date
        orderId:
          type: string
    InvoiceDetail:
      allOf:
        - $ref: '#/components/schemas/Invoice'
        - type: object
          properties:
            lineItems:
              type: array
              items:
                type: object
                properties:
                  description:
                    type: string
                  quantity:
                    type: integer
                  unitPrice:
                    type: number
                  amount:
                    type: number
                  costCenter:
                    type: string
            subtotal:
              type: number
            tax:
              type: number
            total:
              type: number
            paymentDate:
              type: string
              format: date
